@model EBookStore.Site.Models.EFModels.Employee

@{
    ViewBag.Title = "刪除員工";
}

<html>

<head>
    <style>
        .page-content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .form-container {
            width: 400px;
            text-align: center;
        }

        h3.text-danger {
            color: red;
            font-size: 24px;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        .dl-horizontal dt {
            font-weight: bold;
        }

        .dl-horizontal dd {
            margin-left: 0;
        }

        .form-actions {
            margin-top: 30px;
        }

        .form-actions input[type="submit"] {
            margin-right: 10px;
        }

        .form-actions a {
            text-decoration: none;
            color: #333;
        }
    </style>
</head>

<body>
    <div class="page-content">
        <div class="form-container">
            <h3 class="text-danger">您確定要刪除此員工?</h3>
            <hr />
            <div>
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Role.Name)</dt>
                    <dd>@Html.DisplayFor(model => model.Role.Name)</dd>

                    <dt>@Html.DisplayNameFor(model => model.Account)</dt>
                    <dd>@Html.DisplayFor(model => model.Account)</dd>

                    <dt>@Html.DisplayNameFor(model => model.Email)</dt>
                    <dd>@Html.DisplayFor(model => model.Email)</dd>

                    <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                    <dd>@Html.DisplayFor(model => model.Name)</dd>

                    @*<dt>@Html.DisplayNameFor(model => model.Gender)</dt>
                    <dd>@Html.DisplayFor(model => model.Gender)</dd>*@

                    <dt>@Html.DisplayNameFor(model => model.Phone)</dt>
                    <dd>@Html.DisplayFor(model => model.Phone)</dd>

                    <dt>@Html.DisplayNameFor(model => model.CreatedTime)</dt>
                    <dd>@Html.DisplayFor(model => model.CreatedTime)</dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions">
                        <input type="submit" value="刪除" class="btn btn-danger" />
                        @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                }
            </div>
            <hr /> 
        </div>
    </div>
</body>

</html>
