@model EBookStore.Site.Models.EFModels.Category

@{
    ViewBag.Title = "Delete";
}
@section cdn{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bookstyle.css" />
    <script src="~/Scripts/jquery-3.7.0.js"></script>

}

<div id="newbackground" class="table-container">
    <h2>確定刪除?</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DisplayOrder)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/book.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}