@model EBookStore.Site.Models.EFModels.User

@{
    ViewBag.Title = "刪除使用者";
}

<html>

<head>
    <style>
        .page-content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .form-container {
            width: 400px;
            text-align: center;
        }

        h2 {
            margin-top: 20px;
        }

        h3.text-danger {
            color: red;
            font-size: 24px;
            margin-top: 20px;
            margin-bottom: 30px;
        }

        .dl-horizontal dt {
            font-weight: bold;
        }

        .dl-horizontal dd {
            margin-left: 0;
        }

        .form-actions {
            margin-top: 30px;
        }

        .form-actions input[type="submit"] {
            margin-right: 10px;
        }

        .form-actions a {
            text-decoration: none;
            color: #333;
        }
    </style>
</head>

<body>
    <div class="page-content">
        <div class="form-container">
            @*<h2>刪除使用者</h2>*@
            <h3 class="text-danger">您確定要刪除此使用者?</h3>
            <hr />
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Account)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Account)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Phone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Photo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Photo)
                    </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedTime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreatedTime)
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.IsConfirmed)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsConfirmed)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ConfirmCode)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ConfirmCode)
                    </dd>*@

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions">
                        <input type="submit" value="Delete" class="btn btn-danger" /> 
                        @*@Html.ActionLink("Back to List", "Index")*@
                        @Html.ActionLink("返回列表", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                }
            </div>
            <hr />
        </div>
    </div>
</body>

</html>
