@model EBookStore.Site.Models.BooksViewsModel.BooksDapperVM

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>BooksDapperVM</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PublisherName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PublisherName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Author)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Author)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PublishDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PublishDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Summary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Summary)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ISBN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ISBN)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EISBN)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EISBN)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Stock)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Stock)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Discount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Discount)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
