@model IEnumerable<EBookStore.Site.Models.BooksViewsModel.BooksDapperVM>
@using PagedList;
@using PagedList.Mvc;

@section cdn{
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
	<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/Content/bookstyle2.css" />
	<script src="~/Scripts/jquery-3.7.0.js"></script>
}

@section Style
{
	<style>
		.container-fluid {
			font-family: DFYuanBold-B5;
		}

		h2 {
			color: #696969;
		}
	</style>
}

@{
	ViewBag.Title = "IndexDapper";
}

<div class="container-fluid">
	@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
	{
		<div class="alert alert-success">@ViewBag.SuccessMessage</div>
	}
	@if (!string.IsNullOrEmpty(ViewBag.NonExistingBooks))
	{
		<div class="alert alert-danger">@ViewBag.NonExistingBooks</div>
	}

	<div id="newbackground" class="table-container">
		<h2>書本管理</h2>

		<div class="row mb-3">
			<div class="col-6 d-flex justify-content-start">
				@Html.ActionLink("新建書本", "CreateBook", null, new { @class = "btn btn-primary" })
				<span class="ml-2"></span>
				@Html.ActionLink("從Excel創建資料", "CreateFromExcel", null, new { @class = "btn btn-primary" })
			</div>
		</div>

		<table id="bookTable" class="fixed-cell table cell-border stripe">

			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.CategoryName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Name)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.PublisherName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Author)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.PublishDate)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Stock)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Status)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Price)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Discount)
					</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.CategoryName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.PublisherName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Author)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.PublishDatetxt)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Stock)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Status)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Price)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Discount)
						</td>
						<td>
							@Html.ActionLink("修改", "Edit", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" }) |
							@Html.ActionLink("詳細資料", "Details", new { id = item.Id }, new { @class = "btn btn-secondary btn-sm" })
						</td>
					</tr>
				}
			</tbody>


		</table>
	</div>
</div>


@section Scripts{
	<script src="~/Content/book.js"></script>
	<script src="~/Scripts/bootstrap.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>

         $(document).ready(function () {
            var successMessage = '@ViewBag.SuccessMessage';
             if (successMessage !== '') {
                 alert(successMessage);
                 setTimeout(function () {
                     '@ViewBag.SuccessMessage' = '';
                 }, 100);
             }
            }
         });

	</script>
}
