@model EBookStore.Site.Models.EFModels.News

@{
    ViewBag.Title = "Delete";
}

<div style="margin-left:5px;">
    <h2>確認刪除此筆最新消息</h2>
</div>

    <div>
        <table class="table">
            <tbody>
                <tr>
                    <th><div style="width:45px">標題</div></th>
                    <td>@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <th>內容</th>
                    <td>@Html.DisplayFor(model => model.Content)</td>
                </tr>
                <tr>
                    <th>狀態</th>
                    <td>
                        @if (Model.Status)
                        {
                            <span>已發布</span>
                        }
                        else
                        {
                            <span>未發布</span>
                        }
                    </td>
                    
                </tr>
                <tr>
                    <th>內容</th>
                    <td>@Html.DisplayFor(model => model.Content)</td>
                </tr>
            </tbody>
        </table>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color" style="margin-left:5px;">

                <a href="@Url.Action("Delete")">
                    <button class="btn btn-outline-danger btn-m">刪除</button>
                </a>



                <a href="@Url.Action("Index")" class="btn btn-m btn-outline-secondary">回到主頁</a>
            </div>

        }
    </div>
