@model EBookStore.Site.Models.EFModels.Author

@{
	ViewBag.Title = "Details";
}
@section cdn{
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
	<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/Content/bookstyle.css" />
	<script src="~/Scripts/jquery-3.7.0.js"></script>
}

@section Style
{
	<style>
		.container-fluid {
			font-family: DFYuanBold-B5;
			background-color: #FFFFDF;
			border: 3px solid gray;
			padding: 20px;
		}

		h2 {
			color: #696969;
		}
	</style>
}
<div class="container-fluid" style="width:90%">
	<div id="newbackground" class="table-container">

		<h2>詳細資料</h2>

		<div>
			<div>
				<h4>作者資料</h4>
				<hr />
				<dl class="dl-horizontal">
					<dt>
						@Html.DisplayNameFor(model => model.Name)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Name)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.Photo)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Photo)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.Profile)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Profile)
					</dd>

				</dl>
			</div>
			<p>
				@Html.ActionLink("修改", "Edit", new { id = Model.Id }, new { @class = "btn btn-secondary btn-sm" })
				@Html.ActionLink("返回目錄", "Index", null, new { @class = "btn btn-secondary btn-sm" })
			</p>
		</div>
	</div>
</div>

	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
		<script src="~/Content/book.js"></script>
		<script src="~/Scripts/bootstrap.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	}
