@*@model EBookStore.Site.Models.EFModels.Publisher*@
@model EBookStore.Site.Models.ViewsModel.PublishersVM

@{
	ViewBag.Title = "Create";
}
@section cdn{
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
	<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/Content/bookstyle.css" />
	<script src="~/Scripts/jquery-3.7.0.js"></script>
}
@section Style
{
	<style>
		.container-fluid {
			font-family: DFYuanBold-B5;
			background-color: #FFFFDF;
			border: 3px solid gray;
			padding: 20px;
		}

		h2 {
			color: #696969;
		}
	</style>
}
<div class="container-fluid" style="width:90%">
	<div id="newbackground" class="table-container">
		<h2>創建出版商</h2>
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()

			<div class="form-horizontal">
				<h4>出版商</h4>
				<hr />
				@Html.ValidationSummary(true, "", new { @class = "text-danger", @id = "validationSummary" })
				<div class="form-group">
					@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="創建" class="btn btn-primary btn-sm" />
					</div>
				</div>
			</div>
		}

		<div>
			@Html.ActionLink("返回目錄", "Index", null, new { @class = "btn btn-secondary btn-sm" })
		</div>
	</div>
</div>

	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
		<script src="~/Content/book.js"></script>
		<script src="~/Scripts/bootstrap.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script>
			$(document).ready(function () {
				var validationSummary = $("#validationSummary");
				validationSummary.fadeIn();
				setTimeout(function () {
					validationSummary.fadeOut();
				}, 3000);
			});
		</script>
	}
