@model EBookStore.Site.Models.ViewModels.ReplyMailCreateVM

@{
	ViewBag.Title = "Create";
}
@section cdn{
	<link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@section Style
{
	<style>
		h2 {
			color: #696969;
			font-family: DFYuanBold-B5;
		}
	</style>
}
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div class="container-fluid" style="width:500px">
    <h2 class="text-center">回覆信件</h2>
    <hr />
    <div class="row row-cols-1">
        <form>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CSId)
            <div class="form-group col">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "mailtext form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "titletext form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "form-label" })
                @Html.TextAreaFor(model => model.Content, new { @class = "contenttext form-control", @rows = 5 })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
            <div class="form-group text-center">
                <input type="submit" value="寄出" class="btn btn-danger" />
                <input type="reset" value="清除" class="btn btn-outline-info reset" />
            </div>
        </form>
    </div>
</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script>
            $(function () {
                var emailText = `@ViewBag.Email`;
                var titleText = `@ViewBag.MailTitle`;
                var contentText = `@ViewBag.MailContent`;
                $(".mailtext").val(emailText);
                $(".titletext").val(titleText);
                $(".contenttext").val(contentText);


                $(".reset").on("click", function () {
                    $(".form-control").each(function () {
                        $(this).val("");
                    });
                });
            });
	</script>
}
