@model EBookStore.Site.Models.EFModels.CustomerServiceMail

@{
    ViewBag.Title = "Details";
}

<h2>信件內容</h2>

<div class="form-horizontal">
    <hr />
    <div class="mb-3 col-md-3">
        <label class="form-label">會員帳號</label>
        @Html.EditorFor(model => model.UserAccount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" } })
    </div>
    <div class="mb-3 col-md-3">
        <label class="form-label">聯絡信箱</label>
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" } })
    </div>
    <div class="mb-3 col-md-3">
        <label class="form-label">問題種類</label>
        @Html.EditorFor(model => model.ProblemType.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" } })
    </div>
    <div class="mb-3 col-md-10">
        <label class="form-label">問題敘述</label>
        @Html.EditorFor(model => model.ProblemStatement, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" } })
    </div>
    <div class="mb-3 col-md-3">
        <label class="form-label">發問時間</label>
        @Html.EditorFor(model => model.CreatedTime, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" } })
    </div>
    <div class="mb-3 col-md-3 isReplied" data-id="@Model.Id" data-isReplied="@Model.IsReplied">
        <label class="form-label">已回覆使用者</label>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    @Scripts.Render("~/bundles/jquery")

    <script>
        var basement = "https://localhost:44314";
        $(function () {
            var id = $(".isReplied").attr("data-id")
            var isReplied = $(".isReplied").attr("data-isReplied")

            /*console.log(isReplied);*/
            if (isReplied == "False") {
                console.log(isReplied);
                $(".isReplied").text("");
                var r = `<input class="btn btn-primary" type="button" value="回覆使用者" onclick="location.href='${basement}/CustomerServiceMails/Create?id=${id}'"/>`
                $(".isReplied").append(r);
            }
        });
    </script>
    }
