@model EBookStore.Site.Models.EFModels.CustomerServiceMail

@{
    ViewBag.Title = "Details";
}

<h2>信件內容</h2>

<div class="row">
    <hr />
    <dl class="dl-horizontal">
        <dt class="mb-3">
            問題種類
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.ProblemType.Name)
        </dd>

        <dt class="mb-3">
            會員帳號
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.UserAccount)
        </dd>

        <dt class="mb-3">
            聯絡信箱
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="mb-3">
            問題敘述
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.ProblemStatement)
        </dd>

        <dt class="mb-3">
            發問時間
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.CreatedTime).ToString()
        </dd>

        <dt class="mb-3">
            是否回覆
        </dt>

        <dd class="isReplied" data-id="@Model.Id">
            @Html.DisplayFor(model => model.IsReplied)
        </dd>
        @*<input type="button" value="new button" onclick="location.href='~/CustomerServiceMail/Create'"/>*@
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    @Scripts.Render("~/bundles/jquery")

    <script>
        var basement = "https://localhost:44314";
        $(function () {
            var isReplied = $(".isReplied");
            var answer = isReplied.children("input").attr("checked");
            console.log(answer)
            if (answer == "checked") {
                $(".isReplied").text("已回覆");
            }
            else {
                $(".isReplied").text("");
                /*var r = $('<input type="button" value="new button"/>');*/
                var r = `$('<input type="button" value="new button" onclick="location.href='${basement}/CustomerServiceMails/Create?id=1'"/>')`
                console.log(r);
            //    var btn = $('r');
            //    console.log(btn);
                isReplied.append(r);
            }
            
            
            

            /*console.log(isChecked);*/
        });
    </script>
    }
