@model IEnumerable<EBookStore.Site.Models.EFModels.CustomerServiceMail>

@{
    ViewBag.Title = "Index";
    var criteria = ViewBag.Criteria as EBookStore.Site.Models.ViewModels.CSMailCriteria;

    var problemTypes = ViewBag.ProblemTypeId as SelectList;
    string s_problemTypeId = criteria.ProblemTypeId.HasValue ? criteria.ProblemTypeId.Value.ToString() : "";

    string s_MailStatus = criteria.MailStatus;

}
@section cdn{
    @*<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

@section Style
{
    <style>


    </style>
}
    <div class="container-fluid">
        <h2>客服管理</h2>
        <form method="get">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6">
                <div class="col">
                    <select name="MailStatus" id="s_MailStatus" class="form-control">
                        <option value="All" @(s_MailStatus == "All" ? "selected" : "")>全部信件</option>
                        <option value="NotRead" @(s_MailStatus == "NotRead" ? "selected" : "")>未讀取</option>
                        <option value="NotReplied" @(s_MailStatus == "NotReplied" ? "selected" : "")>未回覆</option>
                        <option value="Read" @(s_MailStatus == "Read" ? "selected" : "")>已讀取</option>
                        <option value="Replied" @(s_MailStatus == "Replied" ? "selected" : "")>已回覆</option>
                    </select>
                </div>
                <div class="col">
                    <select name="ProblemTypeId" id="s_problemTypeId" class="form-control">
                        @foreach (var item in problemTypes)
                        {
                            <option value="@item.Value" @(s_problemTypeId == item.Value ? "selected" : "")>@item.Text</option>
                        }
                    </select>
                </div>
                <div class="col replied">
                    <input type="text" class="form-control" name="Account" id="s_Account" value="@criteria.Account" placeholder="會員帳號">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="ProblemStatement" id="s_Statement" value="@criteria.ProblemStatement" placeholder="問題敘述">
                </div>
                <div class="col" id="datetimepicker1">
                    <input type="date" class="form-control" name="CreatedTime" id="s_CreatedTime" value="@criteria.CreatedTime">
                </div>
                <div class="col align-self-end">
                    <button class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

        <div class="mt-3 table-responsive-lg">
            <table class="table table-bordered table-hover">
                <tr class="">
                    <th>
                        已讀取
                    </th>
                    <th>
                        已回覆
                    </th>
                    <th>
                        使用者
                    </th>
                    <th>
                        信箱
                    </th>
                    <th>
                        問題種類
                    </th>
                    <th>
                        問題敘述
                    </th>
                    <th>
                        發問時間
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr class="mails" data-id="@item.Id" @(item.IsReplied ? "isReplied" : string.Empty)>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsRead)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsReplied)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserAccount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProblemType.Name)
                        </td>
                        <td>
                            <p class="ellipsis">@Html.DisplayFor(modelItem => item.ProblemStatement)</p>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedTime)
                        </td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    </tr>
                }
            </table>
        </div>
    </div>
    @section scripts{
        @Scripts.Render("~/bundles/jquery")

        <script>
            var basement = "https://localhost:44314";
            $(function () {
                //$('#datetimepicker1').datetimepicker({
                //    format: "YYYY/MM/DD"
                //});

                $('.mails').each(function () {
                    if (this.hasAttribute('isReplied')) {
                        $(this).addClass("bg-gray-200");
                    }
                    $(this).on("click", function () {
                        var id = $(this).attr("data-id");
                        $(location).attr("href", "/CustomerServiceMails/Details?id=" + id);
                    });
                });

                var length = 10; // 超過30個字以"..."取代
                $(".ellipsis").each(function () {
                    if ($(this).text().length > length) {
                        $(this).attr("title", $(this).text());
                        var text = $(this).text().substring(0, length - 1) + "...";
                        $(this).text(text);
                    }
                });
            });
        </script>
    }