@model EBookStore.Site.Models.BooksViewsModel.PurchaseOrderDapperVM
@{
    ViewBag.Title = "CreateFromExcel";
}
@section cdn{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bookstyle.css" />
    <script src="~/Scripts/jquery-3.7.0.js"></script>

}

<div id="newbackground" class="table-container">
    <h2>CreateFromExcel</h2>

    @using (Html.BeginForm("CreateFromExcel", "PurchaseOrderDapperVMs", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="excelFile">選取進貨訂單</label>
            <input type="file" id="excelFile" name="excelFiles" class="form-control" />
        </div>

        <div class="form-group ">
            <label for="excelSheetName">Excel 表單名稱</label>
            <input type="text" id="excelSheetName" name="excelSheetName" class="form-control" />
            @Html.ValidationMessageFor(model => model.excelSheetName, "", new { @class = "text-danger" })
        </div>

        <input type="submit" value="Upload File" class="btn btn-primary btn-sm" />
    }

    <div class="mt-2">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary btn-sm" })
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/book.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}
