@model IEnumerable<EBookStore.Site.Models.BooksViewsModel.PurchaseOrderDapperVM>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PublisherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasePrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PublisherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchasePrice)
                </td>

                <td id="actions-@item.Id">
                    @if (ViewBag.SelectedItemId == item.Id)
                    {
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    }
                    else
                    {
                        <div id="actions-content-@item.Id">
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                            <span> | </span>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            <span> | </span>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            <span> | </span>
                            @Html.ActionLink("商品入庫", "UpdateBookStock", new { id = item.Id })
                        </div>

                    }
                </td>

            </tr>
        }

    </table>

    @Html.PagedListPager((IPagedList)Model, x => Url.Action("Index", new { page = x }),
 new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, LiElementClasses = new[] { "btn", "btn-lg" } })

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>
